@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #dbeafe, #e0e7ff);
  color: #111827;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom right, #111827, #1f2937);
    color: #f9fafb;
  }
}
